@font-face {
  font-family: lightning;
  src: url(./Lightningvolt-xoqm.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* NavigationBar.css */
* {
  background: rgb(18, 9, 9);
  color: white;
}

.engaging{
  font-family: lightning;
  font-size: 40px;
  text-align: center;
}

.description {
  font-family: "Quicksand";
  text-align: center;
  font-size: 18px;
}

.home-container h1 {
  font-family: lightning;
  text-align: center;
  font-size: 70px;
}

.nav-container {
  background: transparent;
  display: flex; 
  justify-content: center;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: lightning;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  padding: 1rem;
}

nav ul li a:hover {
  color: #777;
}

/* NavigationBar.css */
.logo {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

/* Responsive navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

.nav-container a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 767px) {
  .nav-container {
      flex-direction: column;
      align-items: center;
  }

  .nav-container a {
      margin-right: 0;
      margin-bottom: 10px;
  }
}

/* home image */
.oontz {
  height: 500px;
  position: relative;
  left: 38%;
} 

.Footer {
  text-align: center;
  margin-top: 60px;
}

/* register form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 2px solid rgb(255, 250, 250);
  width: 300px;
  border-radius: 10px;
  position: relative;
  left: 35%;
  top: 40px;
  font-family: lightning;
  font-size: 30px;
}

label, input, button {
  margin: 10px;
  border-radius: 10px;
}

input {
  padding: 7px 15px;
}

button {
  background-color: rgb(166, 202, 7);
  color: black;
  font-weight: bolder;
  font-size: 13px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

/* Events page */

.events-container h1{
  font-family: lightning;
  font-size: 70px;
  text-align: center;
}

.event-content{
  background-color: rgb(23, 22, 22);
  padding-left: 15px;
}

.event-content h2{
  background-color: rgb(23, 22, 22);
  text-align: center;
  font-family: lightning;
  font-size: 40px;
}

.event-content p {
  background-color: rgb(23, 22, 22);
  font-family: "Quicksand";
}

.party {
  height: 100%;
  width: 100%;
}

.event-detail {
  position: relative;
  left: 55px;
}